<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme = "dark">
    <div class="container-fluid">
        <a class="navbar-brand logo" href = "{{ url_for('index')}}">
            <span class="text">BigMac Favs</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse p-1" id = "navbarNavAltMarkup">
            <div class="navbar-nav p-1">
                <a class="nav-link px-3" href = "{{ url_for('index')}}">Home</a>
                <a class="nav-link px-3" href = "{{ url_for('photography')}}">Photography</a>
                <a class="nav-link px-3" href = "{{ url_for('music')}}">Music</a>
                <a class="nav-link px-3" href = "{{ url_for('nature')}}">Nature</a>
                <a class="nav-link px-3" href = "{{ url_for('food')}}">Food</a>
                <a class="nav-link px-3" href = "{{ url_for('programming')}}">Programming</a>
            </div>
            <div class="navbar-nav ms-auto">
                <a class="nav-link" href = "{{ url_for('signup')}}">Sign Up</a>
                <a class="nav-link" href = "{{ url_for('login')}}">Log In</a>
            </div>
        </div>
    </div>
</nav>